body{ 
    background-color:white;
}

.btn {
    cursor: pointer;
  }
  

body{
    color:#ffbe76;
    transition: color 0.5s ease-in-out;
}

.clicked{
    color:#ffbe76
}

.form,
.greetings{
    display: none;
}

.showing{
 display: block;
}